salesforce-lavis
accelerate
transformers==4.44.0
git+https://github.com/huggingface/diffusers
datasets
git+https://github.com/openai/CLIP.git
pandas
open_clip_torch
pytorch_lightning
clint
peft
bitsandbytes